// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #6190c3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #6cc6a6;
$gray: #0E0000;
$light-gray: #F4F4F4;
$medium-gray: #dfe0e0;
