// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;


$orange: #FF0000;



$green: #1EDD88;
$dark-green: #20BD80;


$gray: #444444;
$light-gray: #666666;
$dark-gray: #222222;
$medium-gray: #dfe0e0;
$off-white: #fbfcff;

$blue: #6290C3;
$light-blue: #A5D0FF;
$dark-blue: #1E4F8A;

