.main-heading {
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.sub-heading {
  font-size: 2rem;
  color: white;
}

.banner {
  width: 100vw;
  height: 80vh;
  background-position: center;
  background-size: cover;
  position: relative;
  .container {
    position: absolute;
    top: 40%;
    left: 10%;
  }
  input {
    box-sizing: border-box;
    padding: 5px 20px;
    height: 40px;
  }
}

