.main-heading {
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.sub-heading {
  font-size: 2rem;
  color: white;
}

.banner {
  background-position: center;
  background-size: cover;
  position: relative;
  .container {
    position: absolute;
    top: 40%;
    left: 20%;
  }
}

input {
    box-sizing: border-box;
    padding: 5px 20px;
    height: 40px;
  }

.search_form {
  width: fit-content;

  i {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
