.main-heading {
  font-size: 3.2rem;
  font-weight: bold;
  color: #1EDD88;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.sub-heading {
  font-size: 2rem;
  color: white;
}

.banner {
  background-position: center;
  background-size: cover;
  position: relative;

  .container {
    position: absolute;
    top: 40%;
    left: 20%;
  }
}

input {
    outline: none;
    padding: 5px 20px;
    height: 40px;
  }

input::-webkit-input-placeholder {
  color: white;
}

.search_form {
  width: fit-content;
  input {
    border: 2px solid $gray;
    border-radius: $border-radius-lg;
    background: transparent;
  }




  i {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.color1 {
  background: $green;
}

.color2 {
  background: $blue;
}

.home-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-left: 10px;
}

.style_img_home {
  width: 250px;
}












