<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.irishtimes.com/polopoly_fs/1.3484190.1525432416!/image/image.jpg_gen/derivatives/box_620_330/image.jpg);">
  <div class="container">
    <form action="/">
        <input type="text" name="query" placeholder="Javascipt developer">
        <a class="btn btn-flat" href="#">Search</a>
    </form>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" checked> Mentor
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Student
      </label>
  </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <h2 class="col-12 title">Users found</h2>
  </div>
  <hr>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        <h5 class="card-title">Username</h5>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
        <p class="card-text">A short discription of user</p>
        <a class="btn btn-flat" href="#">View Profile</a>
      </div>
    </div>
  </div>
</div>
<br>


<!--
<div class="container">
  <div class="row">
    <h2 class="title">Here are your Results!</h2>
  </div>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" checked> Mentor
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2"> Student
      </label>
  </div>
</div> -->
