<!-- <footer>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <h4 style="color: white;" class="sub-heading">Follow us</h4>
      <ul style="color: white;">
        <li>fb</li>
        <li>twitter</li>
        <li>youtube</li>
        <li>instagram</li>
      </ul>
    </div>
    <div class="col-sm-12 col-lg">
      <h4 style="color: white;" class="sub-heading">Get tips on how to study</h4>
      <form action="/newsletter" method="post">
        <input type="text" placeholder="foo@bar.com">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</footer> -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="subscribe">
      <h4 style="color: white;" class="sub-heading">Get tips on how to study</h4>
      <form action="/newsletter" method="post">
        <input type="text" placeholder="foo@bar.com">
        <a class="btn btn-flat" href="#">Subcribe</a>
      </form>
    </div>
</div>
