

<div class="row footer">
  <div class="col-sm-12 col-lg-6 ">
    <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>
  <div class="col-sm-12 col-lg-6 my-3 mx-auto">
    <div class="subscribe">
      <h4 style="color: white;" class="sub-heading">Get tips on how to study</h4>
      <form action="/newsletter" method="post">
        <input type="text" placeholder="foo@bar.com">
        <a class="btn btn-flat" href="#">Subcribe</a>
      </form>
    </div>
  </div>

</div>
