
          <div  class="message text-right p-3 mb-2 <%= 'right' if owner_of_message %>">
            <div class="message--author">
              <%= message.user.full_name %>
            </div>
            <div class="message--text">
              <% message.body.lines.each do |line| %>
                <p><%= line %></p>
              <% end %>
            </div>
            <span class="message--time">
              <%= message.message_time %>
            </span>
          </div>
