

<div class="container my-4">
  <div class="row">
    <h2 class="col-8 sub-heading mx-auto">Your Chats</h2>
    <% @chats.each do |c| %>
    <div class="col-8 mx-auto">
      <%= link_to chat_messages_path(c) do  %>
      <div class="chat-box my-1">
        <div class="left">
          <% if c.other_user(current_user).photo.attached? %>
            <%= cl_image_tag c.other_user(current_user).photo.key %>
          <% else %>
            <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="80" alt="">
          <% end %>
        </div>
        <div class="right ml-4">
          <h4> <%= c.other_user(current_user).full_name %></h4>
          <p style="color: gray"><%= c.last_message&.body  %></p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
