
<div class="banner" style="height: 800px; background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
  <div class="container ">

    <h2 class="main-heading">Study Better, Study Faster</h2>
    <h5 style="color: white;" class="sub-heading">Find a buddy/mentor to study with</h5>
    <form action="/results" class="search_form position-relative">
      <input type="text" autocomplete="off" data-target='autocomplete.input' data-action="keyup->autocomplete#suggest" name="query" placeholder="Math, algebra">
      <i class="fas fa-search position-absolute"></i>
      <ul data-target='autocomplete.suggestions' id="display-sugg" class="w-100">
      </ul>
    <!--   <input style="width: 200px;" type="submit" class="btn btn-flat" value="Find a buddy"> -->
    </form>
  </div>
</div>
  <!-- <div class="container-fluid"> -->

   <div class="row no-gutters p-5">
      <div class="col-sm-12 col-lg my-5">
        <h4 class="heading">Choose between hundreds of Mentors!</h4>
        <p class="text-justify">Find the mentor that best suits your requirements. Check out their profile based on previous reviews and choose a date and time for your personalized teaching session! </p>
        <a class="btn btn-flat" href="#">Choose between hundreds of Mentors</a>
      </div>
      <div class="col-sm-12 col-lg my-5">
        <%= image_tag "home1.png", :class => "style_img_home" %>
      </div>
    </div>

    <div class="row no-gutters color1 p-5">
      <h4 class="heading col-12 text-center">
          Meet the mentors of the week
        </h4>
      <div class="container d-flex">

        <div class="col-4">
          <div class="home-card d-flex">
              <div>
                <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="80" class="rounded-circle dropdown-toggle" style="margin-right: 10px; ">
              </div>
              <div>
                <h4>James Bond</h4>
                <div class="tag">Math</div>
              </div>
            </div>
        </div>
        <div class="col-4">
          <div class="home-card d-flex">
              <div>
                <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="80" class="rounded-circle dropdown-toggle" style="margin-right: 10px; ">
              </div>
              <div>
                <h4>James Bond</h4>
                <div class="tag">Math</div>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="home-card d-flex">
              <div>
                <img src="https://image.flaticon.com/icons/svg/847/847969.svg" width="80" class="rounded-circle dropdown-toggle" style="margin-right: 10px; ">
              </div>
              <div>
                <h4>James Bond</h4>
                <div class="tag">Math</div>
              </div>
            </div>
        </div>
      </div>
    </div>

  <div class="row no-gutters p-5">
    <div class="col-sm-12 col-lg-5 ">
      <%= image_tag "home2.png", :class => "style_img_home" %>
    </div>
    <div class="col-sm-12 col-lg my-5">
      <h4 class="heading">Use your knowledge to earn money!</h4>
      <p class="text-justify">Do you feel you have a superior academic level in a specific field? If so, why not provide your assistance to a struggling student in that same field? And yay…you can even make some money from it!</p>
    <p class="text-justify">Mentors don’t require a diploma in their field, so anyone that feels he or she has the skillset can provide their services as a mentor on Study Budd-e. Be aware however that the service is based on a review system. The more positive reviews, the better your chances of gaining a great Study Budd-e reputation and teaching more and more eager students.
    </p>
      <a class="btn btn-flat" href="#">Become a Mentor</a>
    </div>
  </div>

  <div class="row no-gutters color2 p-5">
    <div class="container">
      <div class="col-12 text-center">
        <h4 class="heading"> Most popular Fields</h4>
        <p class="text-center">Check out some of our most popular academic fields, or find more by specifying your field in the search bar at the top of the page and clicking ‘find a buddy’</p>
      </div>
      <div class="col-sm-12 col-lg text-center my-5">
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
        <div class="tag"> Math</div>
      </div>
    </div>
  </div>
<!-- </div> -->




