<div class="banner" style="height: 500px; background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80)">
  <div class="container ">
    <h2 class="main-heading">Study Better, Study Faster</h2>
    <h5 style="color: white;" class="sub-heading">Find a buddy/mentor to study with</h5>
    <form action="/results">
      <input type="text" name="query" placeholder="Math, algebra">
      <input type="submit" class="btn btn-flat" value="Find a buddy">
    </form>
  </div>
</div>


<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-lg-6 my-5">
      <h4 class="heading"> How does it work?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat reiciendis non repudiandae adipisci, itaque temporibus doloremque repellat, at tempore voluptate quas explicabo blanditiis cumque molestiae earum necessitatibus harum iure nihil. Nisi, amet unde deleniti suscipit! Nisi cum, rerum ut quod.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ipsa.</p>
      <a class="btn btn-flat" href="#">Try for free</a>
    </div>
    <div class="col-sm-12 col-lg text-center my-5">
      <img width="250" src="https://image.flaticon.com/icons/svg/3108/3108233.svg" alt="">
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-12 col-lg-5 my-5">
      <img width="250" src="https://image.flaticon.com/icons/svg/2904/2904810.svg" alt="">
    </div>
    <div class="col-sm-12 col-lg my-5">
      <h4 class="heading">Use your knowledge to earn money!</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est mollitia vel, excepturi culpa, suscipit neque quisquam. Incidunt rerum, voluptatibus, enim iste repellendus fugit fugiat nulla culpa ipsum accusantium quis similique molestiae veritatis, sed id at cupiditate cumque asperiores maxime, nobis. Quisquam alias tempora repellat asperiores dolore dolor sequi, atque consectetur.</p>
      <a class="btn btn-flat" href="#">Become a Mentor</a>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-12 col-lg-5 my-5">
      <h4 class="heading"> Most popular Fields</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem id inventore eaque nulla voluptate iusto odit fugit temporibus error mollitia! Quos dicta facilis blanditiis sequi consequatur deserunt consequuntur harum iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio.</p>
    </div>
    <div class="col-sm-12 col-lg text-center my-5">
      <a class="btn btn-ghost" href="#">Python</a>
      <a class="btn btn-ghost" href="#">Ruby</a>
      <a class="btn btn-ghost" href="#">Java Script</a>
      <a class="btn btn-ghost" href="#">Html and CSS</a>
      <a class="btn btn-ghost" href="#">Math</a>
      <a class="btn btn-ghost" href="#">History</a>
      <a class="btn btn-ghost" href="#">English</a>
      <a class="btn btn-ghost" href="#">Economics</a>
      <a class="btn btn-ghost" href="#">Physics</a>
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-12 col-lg-5 my-5">
      <img width="250" src="https://image.flaticon.com/icons/svg/2883/2883841.svg" alt="">
    </div>
    <div class="col-sm-12 col-lg my-5">
      <h4 class="heading">You can choose between hudnrets of Mentors!</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est mollitia vel, excepturi culpa, suscipit neque quisquam. Incidunt rerum, voluptatibus, enim iste repellendus fugit fugiat nulla culpa ipsum accusantium quis similique molestiae veritatis, sed id at cupiditate cumque asperiores maxime, nobis. Quisquam alias tempora repellat asperiores dolore dolor sequi, atque consectetur.</p>
      <a class="btn btn-flat" href="#">Choose between hundrets of Mentors</a>
    </div>
  </div>
</div>

