<div style="height: 100px;">

    </div>
<div style="height: 75vh" class="container">
  <div class="row py-4">
    <div class="col-7 mx-auto">
      <h1>Session with <strong><%= @booking.mentor.full_name %></strong> <br>for <strong><%= humanized_money_with_symbol @booking.total %></strong></h1>
      <hr>
      <button id="pay" class="btn btn-primary w-100">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
  </div>

</div>
