.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 83px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


.sb-dropdown {
  border-radius: $border-radius-lg;
  margin-top: 10px;
  box-shadow: 4px 4px 10px #4950579c;
}

.style_img {
  height: 60px;
  width: 200px;
}
