.card-user {
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  .card-top-part {
    display: flex;
  }

  .card-extra-info {
    display: flex;
    justify-content: space-around;
  }
}


.card-left {
    width: 130px;
}

.reults-btn {
    box-sizing: border-box;
    padding: 5px 20px;
  }

.filter-box {
  padding: 30px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  input {
    width: 100%;
    border-radius: 70px;
    border: 1px solid gray;
  }
}
