.tag {
  background-color: $light-blue;
  color: $dark-blue;
  display: inline-block;
  padding: 4px 8px;
  border-radius: $border-radius-sm;
font-size: 12px;

}

.profile-box{
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 10px;

  // .extra-info {
  //   display: flex;
  //   justify-content: space-between;
  // }
}

.space {
  margin: 5px;
  width: 150px;
}

.space1 {
  margin: 5px;
  width:315px;
  font-weight: lighter;
  color: white;
  padding: 8px 24px;
  border-radius: 7px;
  transition: background 0.3s ease;
}

.booking {
  margin-top: 5px;
  width: 465px;
  font-weight: lighter;
  color: white;
  padding: 8px 24px;
  border-radius: 7px;
  transition: background 0.3s ease;
}

.box {
  width: 465px;
  margin-bottom: 5px;
}
