.tag {
  background-color: lightgray;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;

}

.profile-box{
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 10px;

  // .extra-info {
  //   display: flex;
  //   justify-content: space-between;
  // }
}
