
<div class="container my-5 ">
  <div class="row">
    <h2 class="col-12 sub-heading text-center">What subjects are you learning?</h2>
    <div class="col-8 mx-auto">
      <%= simple_form_for :wizard, url: wizard_path, method: :put do |f| %>
        <%= f.input :subjects, collection: @subjects.pluck(:name, :id), input_html: {multiple: true} %>
        <%= f.submit "Next", class: 'btn btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
