
<div class="container my-5 ">
  <div class="row">
    <h2 class="col-12 sub-heading text-center">What subjects are you learning?</h2>
    <div class="col-8 mx-auto">
      <%= simple_form_for :wizard, url: wizard_path, method: :put do |f| %>
      <div class="row">
        <div class="col-12 bg-dark">
           <%= select_tag :subjects, options_from_collection_for_select(@subjects, :id, :name), multiple: true, class: 'select2' %>

        </div>
        <div class="col-12">
          <%= f.submit "Next", class: 'btn btn-flat' %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
